*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color:#121212 ;
  color: white;
}
header a{
  color:#00d8ff ;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
}
header{
  padding: 10px 0 0 10px;
}
